---
import AppLayout from "../layouts/AppLayout.astro";
import photo from "../images/photo.jpg";
---

<AppLayout>
    <div class="mb-10">
        <img src={photo} alt="photo">
    </div>

    <div class="space-y-8">
        <p>
            <a class="underline" href="https://drive.google.com/file/d/1LQaz-JESZLcdGonowHbeJgbZnWErSmIk/view?usp=sharing" target="_blank">Daniel Fagundes</a> is a Brazilian web developer, currently working at <a class="underline" target="_blank" href="https://devsquad.com/">DevSquad</a> as a Full-Stack developer.
            Passionate about technology, he is always looking for new challenges and learning new things. He is currently working with <a class="underline" target="_blank" href="https://laravel.com">Laravel</a> and its ecosystem.
            He worked on projects like cash flows, user management, marketing automation, and more.
            He is currently studying at <a class="underline" target="_blank" href="https://laracasts.com/@daniel_fagundes">Laracasts</a>, <a class="underline" target="_blank" href="https://laraveldaily.com">Laraveldaily</a>, and <a class="underline" target="_blank" href="https://pinguim.academy">Pinguim Academy</a>
        </p>

        <p>
            He is also a cyber security enthusiast, always looking for new techniques to improve his knowledge in the area. He is currently studying at <a class="underline" target="_blank" href="https://pato.academy">Pato Academy</a>
            and is a member of its community.
        </p>

        <p>
            He is also a member of the <a class="underline" target="_blank" href="https://reservatoriodedopamina.com.br/">Reservatório de Dopamina (RD)</a>,
            which is an environment for personal and professional development with an incredible community of motivated people in search of a high-performance life.
        </p>

        <ul>
            <li>
                <a class="underline" href="https://github.com/daniel-felipe" target="_blank">GitHub</a> |
                <a class="underline" href="https://instagram.com/daniel.fag_" target="_blank">Instagram</a> |
                <a class="underline" href="https://twitter.com/daniel_fag42" target="_blank">Twitter</a> |
                <a class="underline" href="https://www.linkedin.com/in/daniel-felipe-fagundes/" target="_blank">LinkedIn</a>
            </li>
        </ul>
    </div>
</AppLayout>
