---
import AppLayout from "../layouts/AppLayout.astro";

const response = await fetch('https://api.github.com/users/daniel-felipe/repos?sort=updated&type=public&per_page=10');
const repos = await response.json();
---

<AppLayout>
    <div class="mb-12">
        <p>
            Here are some of the public repositories I have working on <a class="underline" href="https://github.com/daniel-felipe" target="_blank">GitHub</a>. 
            Some are simple personal projects, others are forks of projects I've contributed to.
        </p>
    </div>
    
    <div class="space-y-6">
        {repos.map(repo => (
            <div>
                <a href={repo.html_url} class="hover:underline" target="_blank">
                    <h2 class="text-bold text-lg font-semibold">&ShortRightArrow; {repo.name}</h2>
                    <p class="text-gray-600">{repo.description ?? 'No description'}</p>
                    <div>
                    </div>
                </a>
            </div>
        ))}
    </div>
</AppLayout>
